{% extends 'base.html.twig' %}

{% block title %}Ma commandes{% endblock %}

{% block content %}
    <a href="{{ path('account_order') }}" class="btn btn-light btn-sm">Retour</a>
    <hr>
    <h1 class="sous-titre">Ma commande {{ order.reference }}</h1><br>
    <strong>Commende passée le :</strong>  {{ order.createdAt|date('d/m/Y') }}<br>
    <strong>Référence de ma commande :</strong> <small>{{ order.reference}}</small><br>
    <strong>Transporteur choisi :</strong> {{ order.carrierTitle}}<br><br>

    <strong>Détails :</strong>

    <table class="table table-striped  ">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
        <tr>
            <td>{{ product.product }}</td>
            <td>x{{ product.quantity }}</td>
            <td>{{ (product.price/100)|number_format(3,',','.') }} DT</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right mb-5">
        <strong>Frais de livraison : {{ ((order.carrierPrice) )|number_format(3,',','.') }} DT</strong><br>
        <strong style="color: red">Total : {{ ((order.getTotal/100)+order.carrierPrice )|number_format(3,',','.') }} DT</strong>
    </div>
{% endblock %}
