{% extends 'base.html.twig' %}

{% block title %}{{products.name}} - BICC{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <img src="/uploads/{{ products.illustration }}" alt="{{ products.name }}" class="img-fluid border border-info">
        </div>
        <div class="col-md-8">
            <h3 class="sous-sous-titre">{{products.name}}</h3>
            <p>{{ products.subtitle }}</p>
            <span class="product-price">{{ (products.price/100)|number_format(3,',','.')}}DT</span>
            <hr>
            <p>
                {{ products.description }}
            </p>
            <a href="{{ path('add_to_cart',{'id':products.id}) }}" class=" btn btn-info btn-sm">Ajouter au panier <img src="{{ asset('assets/img/online-shopping.png') }}" height="30px"></a>
        </div>
    </div>
    <hr>
    <br>
    <strong><h3 style="color:#5353c6 ">Nos meilleures ventes</h3></strong>
    <strong>Découvrez les articles leas plus vendus</strong>
    <div class="row" style="margin-bottom: 70px">
        {% for product in product %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
