{% extends 'base.html.twig' %}

{% block title %}Paiemant de ma commande - BICC{% endblock %}

{% block content %}
    <h2 class="sous-titre">Mon récapitulatif</h2>
    <p>Vérifiez vos commande avant de payer votre commande.</p>
    <hr>
    <div class="row mb-5">
        <div class="col-md-6">
            <strong class="stronng"> Mon adresse de livraison</strong> <br/>
            <div class="form-check mt-4">
                {{ delivery|raw }}
            </div>
            <hr>
            <strong class="stronng"> Mon transporteur</strong><br/>
            <div class="form-check">
                {{ carrier.title }}<br/>
                {{ carrier.description }}<br/>
                {{ carrier.price|number_format(2,',','.') }} DT<br/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b class="stronng">Ma commande</b><br>
            </div>

            <div class="order-summary">
                {% set total=null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="65px">
                        </div>

                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br>
                            <small>
                                {{  product.product.subtitle }}
                                <br>
                                x {{ product.quantity }}
                            </small>
                        </div>

                        <div class="col-2 my-auto">
                            {{ ((product.product.price * product.quantity)/100)|number_format(3,',','.') }} DT
                        </div>
                    </div>
                    {% set total= total +(product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous-Total : </strong>{{ (total/100)|number_format(3,',','.') }} DT <br>
            <strong>Livrasion : </strong>{{ (carrier.price)|number_format(3,',','.') }} DT
            <br>
            <strong>Total : </strong>{{ ((total/100)+carrier.price)|number_format(3,',','.') }} DT
            <hr>
            <a href="{{ path('account_order') }}" class="btn btn-light btn-block mt-4 ">Enregistrer</a>
        </div>
    </div>

{% endblock %}
